PORT=8000
MONGO_URI=mongodb://127.0.0.1:27017/myDB
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFERSH_TOKEN_SECRET=chai-aur-beckend
REFERSH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME='dzctfh1yb',
CLOUDINARY_API_KEY='544134716562149',
CLOUDINARY_API_SECRET='kZcH2h87nxyM9uaTWFBGIS1s85Y'